* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     background-image: url(./assets/imagens/f6d456ed8978e1949e7ccfca769005a8.jpg); 
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.time{
  
background-image: url(./assets/imagens/elipse.png);
background-size: cover;
    width: 100%;
    height: 400px;
    text-align: center;
    padding-top: 130px;
    padding-left: 20px;
    font-size: 35px;
    color:#22f1dd;
}
.hora{
    font-size: 55px;
   padding: 30px;
  color: #04D976;
   
}


.nav-bar {
    display: flex;
    flex-direction: column;
   align-items: center;
    background-size: cover;
    background-position: center;
   
}

button {
    padding: 20px 155px;
    border-radius: 4px;
    font-size: 20px;
    background-color: #04D976;
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
}

button:hover {
    background-color: transparent;
}

/* .input-bar {
    display: flex;
    flex-direction: column;
    text-align: left;

}

input {
    padding: 15px 80px;
    border: 1px solid #04D976;
    margin-bottom: 5px;
    border-radius: 4px; */

/* } */
footer{
   
    width: 100%;
    height: 200px;
    margin-top:  90px;
    color: #fff;
  display: flex;
  justify-content: center;  
  
}
.final{
    text-align: center; 
    font-size: 25px; 
    padding-top: 60px;
}
.name{
    margin-bottom: 20px;
        padding-top: 20px;
}
.gif{
    padding-top: 15px;
}

@media(max-width: 900px) {
    .nav-bar {
        min-width: 100%;
        margin: 0;
        padding: 0;
    }
    .time{
        width: 100%;
        padding-left: 23px;
        background-position: center;
        font-size: 30px;
       
        
    }
    .hora{
        font-size: 50px ;
    }
    button{
        padding: 20px 120px;
    }
    input{
        padding: 20px 46px;

    }
    footer{
        width: 100%;
        display: flex;
        justify-content: center;
        
    }
    .name{
       margin-bottom: 20px;
        
    }
    .final{
        padding-top: 20px;

    }
   
}